<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunyuan.searanch.dao.ShopCartMapper" >
  <resultMap id="BaseResultMap" type="com.yunyuan.searanch.entity.ShopCart" >
    <id column="cart_id" property="cartId" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="goods" property="goods" jdbcType="BIGINT" />
    <result column="add_time" property="addTime" jdbcType="TIMESTAMP" />
    <result column="amount" property="amount" jdbcType="INTEGER" />
    <result column="invalid" property="invalid" jdbcType="BIT" />
    <result column="add_price" property="addPrice" jdbcType="DECIMAL" />
    <result column="type_id" property="typeId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    cart_id, user_id, goods, add_time, amount, invalid, add_price, type_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.yunyuan.searanch.entity.ShopCartExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from shop_cart
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from shop_cart
    where cart_id = #{cartId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from shop_cart
    where cart_id = #{cartId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.yunyuan.searanch.entity.ShopCartExample" >
    delete from shop_cart
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yunyuan.searanch.entity.ShopCart" >
    insert into shop_cart (cart_id, user_id, goods, 
      add_time, amount, invalid, 
      add_price, type_id)
    values (#{cartId,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{goods,jdbcType=BIGINT}, 
      #{addTime,jdbcType=TIMESTAMP}, #{amount,jdbcType=INTEGER}, #{invalid,jdbcType=BIT}, 
      #{addPrice,jdbcType=DECIMAL}, #{typeId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.yunyuan.searanch.entity.ShopCart" >
    insert into shop_cart
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cartId != null" >
        cart_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="goods != null" >
        goods,
      </if>
      <if test="addTime != null" >
        add_time,
      </if>
      <if test="amount != null" >
        amount,
      </if>
      <if test="invalid != null" >
        invalid,
      </if>
      <if test="addPrice != null" >
        add_price,
      </if>
      <if test="typeId != null" >
        type_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cartId != null" >
        #{cartId,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="goods != null" >
        #{goods,jdbcType=BIGINT},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=INTEGER},
      </if>
      <if test="invalid != null" >
        #{invalid,jdbcType=BIT},
      </if>
      <if test="addPrice != null" >
        #{addPrice,jdbcType=DECIMAL},
      </if>
      <if test="typeId != null" >
        #{typeId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yunyuan.searanch.entity.ShopCartExample" resultType="java.lang.Integer" >
    select count(*) from shop_cart
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update shop_cart
    <set >
      <if test="record.cartId != null" >
        cart_id = #{record.cartId,jdbcType=BIGINT},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=BIGINT},
      </if>
      <if test="record.goods != null" >
        goods = #{record.goods,jdbcType=BIGINT},
      </if>
      <if test="record.addTime != null" >
        add_time = #{record.addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.amount != null" >
        amount = #{record.amount,jdbcType=INTEGER},
      </if>
      <if test="record.invalid != null" >
        invalid = #{record.invalid,jdbcType=BIT},
      </if>
      <if test="record.addPrice != null" >
        add_price = #{record.addPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.typeId != null" >
        type_id = #{record.typeId,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update shop_cart
    set cart_id = #{record.cartId,jdbcType=BIGINT},
      user_id = #{record.userId,jdbcType=BIGINT},
      goods = #{record.goods,jdbcType=BIGINT},
      add_time = #{record.addTime,jdbcType=TIMESTAMP},
      amount = #{record.amount,jdbcType=INTEGER},
      invalid = #{record.invalid,jdbcType=BIT},
      add_price = #{record.addPrice,jdbcType=DECIMAL},
      type_id = #{record.typeId,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.yunyuan.searanch.entity.ShopCart" >
    update shop_cart
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="goods != null" >
        goods = #{goods,jdbcType=BIGINT},
      </if>
      <if test="addTime != null" >
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="amount != null" >
        amount = #{amount,jdbcType=INTEGER},
      </if>
      <if test="invalid != null" >
        invalid = #{invalid,jdbcType=BIT},
      </if>
      <if test="addPrice != null" >
        add_price = #{addPrice,jdbcType=DECIMAL},
      </if>
      <if test="typeId != null" >
        type_id = #{typeId,jdbcType=BIGINT},
      </if>
    </set>
    where cart_id = #{cartId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yunyuan.searanch.entity.ShopCart" >
    update shop_cart
    set user_id = #{userId,jdbcType=BIGINT},
      goods = #{goods,jdbcType=BIGINT},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      amount = #{amount,jdbcType=INTEGER},
      invalid = #{invalid,jdbcType=BIT},
      add_price = #{addPrice,jdbcType=DECIMAL},
      type_id = #{typeId,jdbcType=BIGINT}
    where cart_id = #{cartId,jdbcType=BIGINT}
  </update>
</mapper>